<div id="wrapper">
  <div class="button"><%= link_to '新しく投稿する', new_blog_path %></div>
  <br>
  <div class="title">投稿一覧</div>
  <br>
<table>
  <tr class="post_title">
    <th class="content">投稿者</th>
    <th class="content">内容</th>
    <th class="content">画像</th>
  </tr>
<% @blogs.each do |blog| %>
  <tr class="post_content">
    <td class="content"><%= blog.user.name %></td>
    <td class="content"><%= blog.content %></td>
    <td class="content"><%= image_tag blog.image.url  if blog.image && blog.image.url %></td>
    <td><%= link_to '詳細を確認', blog_path(blog.id) %></td>
    <td><%= link_to "編集", edit_blog_path(blog.id) %></td>
    <td><%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
</div>
