<%= form_with(model: @blog, local: true) do |form| %>
<div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>
<div class="field">
  <%= form.label :content %>
  <%= form.text_field :content %>
</div>
<%= form.submit "投稿" %>
<% end %>
<%= link_to "一覧画面へ", blogs_path %>
