<div id="wrapper">
<div class="title">投稿の詳細</div>
<table>
  <tr class="post_title">
    <th class="content">画像</th>
    <th class="content">内容</th>
  </tr>
  <tr class="post_content">
    <td class="content"><%= @blog.content %></td>
    <td class="content"><%= image_tag @blog.image.url %></td>
  </tr>
</table>
<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <div class="button"><%= link_to 'いいね！解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %></div>
  <% else %>
    <div class="button"><%= link_to 'いいね！', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %></div>
  <% end %>
<% end %>
<div class="button"><%= link_to "一覧画面へ", blogs_path %></div>
</div>
